### Python Conditional Statements and loops

#### 1. Write a Python program to construct the following pattern, using a nested for loop. 

(double click here to see pattern)

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
for loop in range(5):
    for idx in range(loop):
        print("* ",end="")
    print('')    
for loop in range(5,0,-1):
    for idx in range(loop):
        print("* ",end="")
    print('')

#### 2. Write a Python program to count the number of even and odd numbers from a series of numbers. 
* Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
##### Expected Output : 
* Number of even numbers : 5
* Number of odd numbers : 4

In [ ]:
sn=(1, 2, 3, 4, 5, 6, 7, 8, 9)
count=0
odd_count=0
for loop in sn:
    if loop%2==0:
        count+=1
    else:odd_count+=1
print("Number of even numbers: ",count, " | ","Number of odd numbers: ",odd_count)

####  3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
* Note : Use 'continue' statement. 
* Expected Output : 0 1 2 4 5

In [ ]:
sn=(0,1, 2, 3, 4, 5, 6)
for loop in sn:
    if loop ==3 or loop ==6:
        continue
    print(loop, end="")

#### 4. Write a Python program to get the Fibonacci series between 0 to 50. 
##### Note : The Fibonacci Sequence is the series of numbers :
* 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
* Every next number is found by adding up the two numbers before it.
* Expected Output : 1 1 2 3 5 8 13 21 34

In [ ]:
a=0
b=1
c=a+b
print(a,end="")
print(b,end="")
for loop in range(0,50):
    a=b
    b=c
    c=a+b
    print(c,"",end="")

 5. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 

Note :
* i = 0,1.., m-1 
* j = 0,1, n-1.

* Test Data : Rows = 3, Columns = 4 
* Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
rows, cols = 3, 4
outer_li = []
for val in range(rows):
    inner_li = []
    for val1 in range(cols):
        inner_li.append(val*val1)
    outer_li.append(inner_li)
        
        
outer_li

6. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
def is_even(num):
    return num %2==0
val = []
for loop in range(100,401):
    if is_even(loop):
        val.append(str(loop))

print(val)

In [ ]:
",".join(val)

 #### 7. Write a Python program to print alphabet pattern 'A'.

In [18]:
final=""
for rows in range(0,7):
    for column in range(0,7):
        if(((column==1 or column==5) and rows!=0) or ((rows==0 or rows==3) and (column>1 and column<5))):
            final=final+"*"
        else:final=final+" " 
    final=final+"\n"
print(final)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

#### 8. Write a Python program to print alphabet pattern 'P'

In [25]:
final=""
for rows in range(7):
    for column in range(7):
        if (((column==0 or column==6) and rows<4) or (rows==0 or rows==3) or (column==0 and rows>3)):
            final=final+"*"
        else:final=final+" "
    final=final+"\n"
print(final)

*******
*     *
*     *
*******
*
*
*

#### 9. Write a Python program to check a triangle is valid or not.

In [34]:
def is_triangle(t1,t2,t3):
    if(t1+t2+t3)==180:
        if ((t1==90 and t2<=90  and t3<=90) or (t1<=90 and t2==90  and t3<=90) or (t1<=90 and t2<=90  and t3==90)):
            print("no it is not a triangle")
        else:print('yes it is a triangle')    
    else:
        print("no it is not a triangle")
is_triangle(60,60,60)

yes it is a triangle

#### 10. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [44]:
for rows in range(1,11):
    print([rows])
    for column in range(1,11):
        print(rows*column," ",end="")
    print('')

[1]
1  2  3  4  5  6  7  8  9  10
[2]
2  4  6  8  10  12  14  16  18  20
[3]
3  6  9  12  15  18  21  24  27  30
[4]
4  8  12  16  20  24  28  32  36  40
[5]
5  10  15  20  25  30  35  40  45  50
[6]
6  12  18  24  30  36  42  48  54  60
[7]
7  14  21  28  35  42  49  56  63  70
[8]
8  16  24  32  40  48  56  64  72  80
[9]
9  18  27  36  45  54  63  72  81  90
[10]
10  20  30  40  50  60  70  80  90  100

#### 11. Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [56]:
val=int(input())
for loop in range(val+1):
    for repeat in range(loop):
        print(loop,end="")
    print(" ",end="")

4
 1 22 333 4444